<div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
    <div class="myaccount-content">
      <h3>Dashboard</h3>
      <div class="welcome">
        <p>Hello there, <strong>{{user.name}}</strong>. (Not {{user.name}}? <a href="login-register.html" class="logout">Logout</a>)</p>
      </div>
      <p class="mb-0">Welcome to your account dashboard, where you can easily manage your recent orders, and modify your password and account details.</p>
    </div>
  </div>
  