<section class="product-banner-area section-top-space">
    <div class="container">
      <div class="swiper banner-slider-container">
        <div class="swiper-wrapper">
          <a href="shop.html" class="swiper-slide product-banner-item">
            <img
              class="icon"
              src="assets/images/shop/banner/01.png"
              width="370"
              height="294"
              alt="Image-HasTech"
            />
          </a>
          <a href="shop.html" class="swiper-slide product-banner-item">
            <img
              class="icon"
              src="assets/images/shop/banner/02.png"
              width="370"
              height="294"
              alt="Image-HasTech"
            />
          </a>
          <a href="shop.html" class="swiper-slide product-banner-item">
            <img
              class="icon"
              src="assets/images/shop/banner/03.png"
              width="370"
              height="294"
              alt="Image-HasTech"
            />
          </a>
        </div>
      </div>
    </div>
    <h6 class="visually-hidden">Banner Section</h6>
  </section>