            <!--== Start Shop Top Bar Area Wrapper ==-->
            <section class="shop-top-bar-area">
                <div class="container">
                    <div class="shop-top-bar">
                        <select class="select-shoing">
                            <option data-display="Trending">Trending</option>
                            <option value="1">Featured</option>
                            <option value="2">Best Selling</option>
                            <option value="5">Price: low to high</option>
                            <option value="6">Price: high to low</option>
                        </select>

                        <div class="select-on-sale d-flex d-md-none">
                            <h5>On Sale :</h5>
                            <select class="select-on-sale-form">
                                <option selected>Yes</option>
                                <option value="1">No</option>
                            </select>
                        </div>

                        <div class="select-price-range">
                            <h4 class="title">Pricing</h4>
                            <div class="select-price-range-slider">
                                <div class="slider-range" id="slider-range"></div>
                                <div class="slider-labels">
                                    <span id="slider-range-value1"></span>
                                    <span>-</span>
                                    <span id="slider-range-value2"></span>
                                </div>
                            </div>
                        </div>

                        <div class="select-on-sale d-none d-md-flex">
                            <h5>On Sale :</h5>
                            <select class="select-on-sale-form">
                                <option selected>Yes</option>
                                <option value="1">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h6 class="visually-hidden">Shop Top Bar Area</h6>
            </section>
            <!--== End Shop Top Bar Area Wrapper ==-->