<!--== Wrapper Start ==-->
<div class="wrapper">
  <!--== Start Header Wrapper ==-->
  <app-navbar></app-navbar>
  <!--== End Header Wrapper ==-->

  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <app-slider></app-slider>
    <!--== Start Product Banner Area Wrapper ==-->
    <!--
      
      <app-product-bunner></app-product-bunner>
    -->
    <!--== End Product Banner Area Wrapper ==-->

    <!--== Start Product Area Wrapper ==-->
    <app-newest-products></app-newest-products>
    <!--== End Product Area Wrapper ==-->

    <!--== End Hero Area Wrapper ==-->

    <!--== Start Product Banner Area Wrapper ==-->
    <section class="product-banner-area">
      <div class="container">
        <div class="row mb-n6 mb-sm-n7">
          <div class="col-sm-12 col-md-6 mb-6">
            <!--== Start Product Banner Item ==-->
            <a href="shop.html" class="product-banner-item">
              <img
                class="icon"
                src="assets/images/home/pack3.png"
                alt="Image-HasTech"
              />
            </a>
            <!--== End Product Banner Item ==-->
          </div>
          <div class="col-sm-12 col-md-6 mb-6">
            <!--== Start Product Banner Item ==-->
            <a href="shop.html" class="product-banner-item">
              <img
                class="icon"
                src="assets/images/home/singleprod.png"
                alt="Image-HasTech"
              />
            </a>
            <!--== End Product Banner Item ==-->
          </div>
        </div>
      </div>
      <h6 class="visually-hidden">Product Banner Area</h6>
    </section>
    <!--== End Product Banner Area Wrapper ==-->

    <!--== Start Product Area Wrapper ==-->
    <app-newest-collections></app-newest-collections>
    <!--== End Product Area Wrapper ==-->
                <!--== Start Funfact Area Wrapper ==-->
                <section class="section-space pt-5">
                  <div class="container">
                      <div class="section-title text-center mb-7 mb-md-5 mb-xl-10 pb-0 pb-md-3">
                          <h2 class="title">Company Progress</h2>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                      </div>
                      <div class="row mb-n9">
                          <div class="col-sm-6 col-lg-3 mb-9">
                              <!--== Start Funfact Item ==-->
                              <div class="funfact-item">
                                  <img src="assets/images/icons/f1.png" width="100" height="100" alt="Icon">
                                  <h2 class="funfact-info">5000+ <span>Clients</span></h2>
                              </div>
                              <!--== End Funfact Item ==-->
                          </div>
                          <div class="col-sm-6 col-lg-3 mb-9">
                              <!--== Start Funfact Item ==-->
                              <div class="funfact-item">
                                  <img src="assets/images/icons/f2.png" width="109" height="100" alt="Icon">
                                  <h2 class="funfact-info">200+ <span>Project</span></h2>
                              </div>
                              <!--== End Funfact Item ==-->
                          </div>
                          <div class="col-sm-6 col-lg-3 mb-9">
                              <!--== Start Funfact Item ==-->
                              <div class="funfact-item">
                                  <img src="assets/images/icons/f3.png" width="84" height="100" alt="Icon">
                                  <h2 class="funfact-info">1.5M+ <span>Revenue</span></h2>
                              </div>
                              <!--== End Funfact Item ==-->
                          </div>
                          <div class="col-sm-6 col-lg-3 mb-9">
                              <!--== Start Funfact Item ==-->
                              <div class="funfact-item">
                                  <img src="assets/images/icons/f4.png" width="101" height="100" alt="Icon">
                                  <h2 class="funfact-info">150+ <span>Team</span></h2>
                              </div>
                              <!--== End Funfact Item ==-->
                          </div>
                      </div>
                  </div>
              </section>
              <!--== End Funfact Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <app-footer></app-footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <app-scroll-to-top></app-scroll-to-top>
  <!--== Start Product Quick View Modal ==-->
  <aside
    class="product-cart-view-modal modal fade"
    id="action-QuickViewModal"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-quick-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <span>×</span>
            </button>
            <div class="row row-gutter-0">
              <div class="col-lg-6">
                <div class="single-product-slider">
                  <div class="single-product-thumb">
                    <div class="swiper single-product-quick-view-slider">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="thumb-item">
                            <img
                              src="assets/images/shop/p1.jpg"
                              alt="Image"
                              width="640"
                              height="710"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumb-item">
                            <img
                              src="assets/images/shop/p1.jpg"
                              alt="Image"
                              width="640"
                              height="710"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumb-item">
                            <img
                              src="assets/images/shop/p1.jpg"
                              alt="Image"
                              width="640"
                              height="710"
                            />
                          </div>
                        </div>
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="product-details-content pt-3">
                  <h3 class="product-details-title">Casual Women pants</h3>
                  <div class="product-details-review">
                    <div class="product-review-icon">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                    </div>
                    <button type="button" class="product-review-show">
                      156 reviews
                    </button>
                  </div>
                  <p class="product-details-desc">
                  DEHE
                  </p>
                  <div class="product-details-color-list">
                    <h4>Color:</h4>
                    <div class="color-list-check">
                      <input
                        class="form-check-input bg-red"
                        type="radio"
                        name="flexRadioColorList"
                        id="colorLista1"
                      />
                      <label class="form-check-label" for="colorLista1"
                        >Red</label
                      >
                    </div>
                    <div class="color-list-check">
                      <input
                        class="form-check-input bg-green"
                        type="radio"
                        name="flexRadioColorList"
                        id="colorLista2"
                        checked
                      />
                      <label class="form-check-label" for="colorLista2"
                        >Green</label
                      >
                    </div>
                    <div class="color-list-check me-0">
                      <input
                        class="form-check-input bg-blue"
                        type="radio"
                        name="flexRadioColorList"
                        id="colorLista3"
                      />
                      <label class="form-check-label" for="colorLista3"
                        >Blue</label
                      >
                    </div>
                  </div>
                  <div class="product-details-pro-qty">
                    <h4>QTY :</h4>
                    <div class="pro-qty">
                      <input type="text" title="Quantity" value="01" />
                    </div>
                  </div>
                  <div class="product-details-price">
                    $550.00 <span class="price-old">$650.00</span>
                  </div>
                  <div class="product-details-action">
                    <button
                      type="button"
                      class="product-action-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#action-CartAddModal"
                    >
                      Add to cart
                    </button>
                    <button
                      type="button"
                      class="product-action-wishlist"
                      data-bs-toggle="modal"
                      data-bs-target="#action-WishlistModal"
                    >
                      <i class="fa fa-heart"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick View Modal ==-->



  <!--== Start Aside Search Menu ==-->
  <aside
    class="aside-search-box-wrapper offcanvas offcanvas-top"
    data-bs-scroll="true"
    tabindex="-1"
    id="AsideOffcanvasSearch"
  >
    <div class="offcanvas-header">
      <h5 class="d-none" id="offcanvasTopLabel">Aside Search</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      >
        ×
      </button>
    </div>
    <div class="offcanvas-body">
      <div class="container pt--0 pb--0">
        <div class="search-box-form-wrap">
          <div class="search-note">
            <p>Start typing and press Enter to search</p>
          </div>
          <form action="#" method="post">
            <div class="search-form position-relative">
              <label for="search-input" class="visually-hidden">Search</label>
              <input
                id="search-input"
                type="search"
                class="form-control"
                placeholder="Search entire store…"
              />
              <button class="search-button" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Aside Search Menu ==-->

  <!--== Start Side Menu ==-->
  <app-mobile-navbar></app-mobile-navbar>
  <!--== Start Side Menu ==-->
</div>
