<section class="hero-slider-area position-relative">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero-slide-item">
        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="col-12 col-sm-6">
              <div class="hero-slide-content">
                <div class="hero-slide-shape-img">
                  <img
                    src="assets/images/slider/shape1.png"
                    width="180"
                    height="180"
                    alt="Image"
                  />
                </div>
                <h4 class="hero-slide-sub-title">HURRY UP!</h4>
                <h1 class="hero-slide-title">
                  Elevate Your Style with Abayas
                </h1>
                <p class="hero-slide-desc">
                  Discover abayas that redefine elegance and comfort, perfect for every occasion.
                </p>
                
                
                <div class="hero-slide-meta">
                  <a class="btn btn-border-primary" routerLink="/shop"
                    >Shop Now</a
                  >
                  <a
                    class="ht-popup-video"
                    data-fancybox
                    data-type="iframe"
                    href="https://player.vimeo.com/video/172601404?autoplay=1"
                  >
                    <i class="fa fa-play icon"></i>
                    <span>Play Now</span>
                  </a>
                </div>
              </div>
            </div>
            <div style="padding: 0;" class="col-12 col-sm-6">
              <div class="hero-slide-thumb">
                <img style="width: 150%; border-top-left-radius: 50%;"
                  src="assets/images/slider/abaya.jpg"
                  alt="Image"
                />
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!--== Add Pagination ==-->

  </div>
</section>