<footer class="footer-area">

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
      <div class="container pt-0 pb-0">
        <div class="footer-bottom-content">

          <p style="color: #472B20;" class="copyright">
            © 2023 J.Modesty Made with <i   style="color: #400601;" class="fa fa-heart"></i> by
            <a
          
              target="_blank"
              href="https://themeforest.net/user/codecarnival/portfolio"
              >Yassine Jallouli</a
            >
          </p>
        </div>
      </div>
    </div>
    <!--== End Footer Bottom ==-->
  </footer>